<% if @tweet.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @tweet, url: form_url do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <%= f.submit form_submit_label %>
<% end %>
