<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% if @tweets.blank? %>
    <h3>投稿がありません。</h3>
<% else %>
    <% @tweets.each do |e| %>
        <ul>
            <li>
                <%= image_tag"user_icon.jpg", :class=>"img-size"%>
                <h4>ツイ鳥くん</h4>
                <h5>@twitter_bird</h5>
            </li>
            <li style="margin-left: 50px;">
                <%= e.message %>
                <%= ((Time.current - e.tdate)/60).to_i %>分
            </li>
            <li style="margin-left: 50px;">

                <%=link_to '削除', tweet_path(e), data: { turbo_method: :delete } %>
                <%=link_to '表示', tweet_path(e) %>
                <%=link_to '編集', edit_tweet_path(e) %>
            </li>
        </ul>
    <% end %>
<% end %>

